USE [master]
GO
/****** Object:  Database [Chocolate]    Script Date: 28.04.2026 13:08:23 ******/
CREATE DATABASE [Chocolate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chocolate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Chocolate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chocolate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Chocolate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chocolate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chocolate]
GO
/****** Object:  User [django_user]    Script Date: 28.04.2026 13:08:23 ******/
CREATE USER [django_user] FOR LOGIN [django_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [django_user]
GO
/****** Object:  Table [dbo].[Material_products]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_products](
	[qty_material_product] [decimal](18, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_suppliers]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_suppliers](
	[zak_price] [decimal](18, 2) NULL,
	[avg_delivery] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NULL,
	[supplier_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[type_material] [nvarchar](50) NOT NULL,
	[percent_lost] [decimal](18, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[name_material] [nvarchar](50) NOT NULL,
	[price_unit] [decimal](18, 2) NULL,
	[qty_werehouse] [decimal](18, 2) NULL,
	[min_qty] [decimal](18, 2) NULL,
	[qty_pack] [decimal](18, 2) NULL,
	[unit] [nvarchar](50) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[type_product] [nvarchar](50) NOT NULL,
	[coeff_product] [decimal](18, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[arcticle] [nvarchar](50) NOT NULL,
	[name_product] [nvarchar](50) NOT NULL,
	[min_price] [decimal](18, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[name_role] [nvarchar](50) NOT NULL,
	[desc_perm] [nvarchar](100) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[type_supplier] [nvarchar](50) NOT NULL,
	[name_supplier] [nvarchar](50) NOT NULL,
	[inn] [nvarchar](50) NOT NULL,
	[rating] [int] NULL,
	[date] [date] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28.04.2026 13:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[login] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[active] [nvarchar](50) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_products] ON 

INSERT [dbo].[Material_products] ([qty_material_product], [id], [material_id], [product_id]) VALUES (CAST(0.09 AS Decimal(18, 2)), 1, 1, 1)
INSERT [dbo].[Material_products] ([qty_material_product], [id], [material_id], [product_id]) VALUES (CAST(0.01 AS Decimal(18, 2)), 2, 3, 1)
INSERT [dbo].[Material_products] ([qty_material_product], [id], [material_id], [product_id]) VALUES (CAST(0.02 AS Decimal(18, 2)), 3, 5, 1)
SET IDENTITY_INSERT [dbo].[Material_products] OFF
GO
SET IDENTITY_INSERT [dbo].[Material_suppliers] ON 

INSERT [dbo].[Material_suppliers] ([zak_price], [avg_delivery], [id], [material_id], [supplier_id]) VALUES (CAST(1980.00 AS Decimal(18, 2)), 12, 1, 1, 1)
INSERT [dbo].[Material_suppliers] ([zak_price], [avg_delivery], [id], [material_id], [supplier_id]) VALUES (CAST(2015.00 AS Decimal(18, 2)), 14, 2, 1, 2)
INSERT [dbo].[Material_suppliers] ([zak_price], [avg_delivery], [id], [material_id], [supplier_id]) VALUES (CAST(1840.00 AS Decimal(18, 2)), 11, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Material_suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Material_type] ON 

INSERT [dbo].[Material_type] ([type_material], [percent_lost], [id]) VALUES (N'Какао-масса', CAST(0.18 AS Decimal(18, 2)), 1)
INSERT [dbo].[Material_type] ([type_material], [percent_lost], [id]) VALUES (N'Какао-масло', CAST(0.14 AS Decimal(18, 2)), 2)
INSERT [dbo].[Material_type] ([type_material], [percent_lost], [id]) VALUES (N'Сахар', CAST(0.05 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Material_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([name_material], [price_unit], [qty_werehouse], [min_qty], [qty_pack], [unit], [id], [type_id]) VALUES (N'Какао-масса Ecuador 70%', CAST(2150.00 AS Decimal(18, 2)), CAST(240.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), N'кг', 1, 1)
INSERT [dbo].[Materials] ([name_material], [price_unit], [qty_werehouse], [min_qty], [qty_pack], [unit], [id], [type_id]) VALUES (N'Какао-масса Peru 65%', CAST(1980.00 AS Decimal(18, 2)), CAST(180.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), N'кг', 2, 1)
INSERT [dbo].[Materials] ([name_material], [price_unit], [qty_werehouse], [min_qty], [qty_pack], [unit], [id], [type_id]) VALUES (N'Какао-масло deodorized', CAST(2680.00 AS Decimal(18, 2)), CAST(110.00 AS Decimal(18, 2)), CAST(35.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'кг', 3, 2)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type] ON 

INSERT [dbo].[Product_type] ([type_product], [coeff_product], [id]) VALUES (N'Плитка шоколада', CAST(1.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Product_type] ([type_product], [coeff_product], [id]) VALUES (N'Премиальная плитка', CAST(1.15 AS Decimal(18, 2)), 2)
INSERT [dbo].[Product_type] ([type_product], [coeff_product], [id]) VALUES (N'Ассорти конфет', CAST(1.30 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Product_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([arcticle], [name_product], [min_price], [id], [type_id]) VALUES (N'CA-001', N'Шоколад 70% Ecuador', CAST(390.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Products] ([arcticle], [name_product], [min_price], [id], [type_id]) VALUES (N'CA-002', N'Молочный шоколад классический', CAST(360.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[Products] ([arcticle], [name_product], [min_price], [id], [type_id]) VALUES (N'CA-003', N'Шоколад с фундуком и морской солью', CAST(460.00 AS Decimal(18, 2)), 3, 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([name_role], [desc_perm], [id]) VALUES (N'Пользователь', N'Просмотр списка материалов, продукции и поставщиков без изменения данных', 1)
INSERT [dbo].[Roles] ([name_role], [desc_perm], [id]) VALUES (N'Менеджер', N'Просмотр, добавление и редактирование материалов, просмотр поставщиков и продукции', 2)
INSERT [dbo].[Roles] ([name_role], [desc_perm], [id]) VALUES (N'Администратор', N'Полный доступ: материалы, поставщики, справочники, пользователи и роли', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([type_supplier], [name_supplier], [inn], [rating], [date], [id]) VALUES (N'ООО', N'КакаоТрейд', N'7701012345', 5, CAST(N'2021-02-14' AS Date), 1)
INSERT [dbo].[Suppliers] ([type_supplier], [name_supplier], [inn], [rating], [date], [id]) VALUES (N'ООО', N'Global Cacao Import', N'7701012377', 4, CAST(N'2021-06-02' AS Date), 2)
INSERT [dbo].[Suppliers] ([type_supplier], [name_supplier], [inn], [rating], [date], [id]) VALUES (N'ООО', N'Sweet Base', N'7701012401', 4, CAST(N'2021-09-19' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([login], [full_name], [email], [active], [id], [role_id]) VALUES (N'user01', N'Иванова Мария Сергеевна', N'm.ivanova@cocoa-plus.ru', N'Да', 1, 1)
INSERT [dbo].[Users] ([login], [full_name], [email], [active], [id], [role_id]) VALUES (N'user02', N'Петров Алексей Викторович', N'a.petrov@cocoa-plus.ru', N'Да', 2, 1)
INSERT [dbo].[Users] ([login], [full_name], [email], [active], [id], [role_id]) VALUES (N'manager01', N'Соколова Анна Игоревна', N'a.sokolova@cocoa-plus.ru', N'Да', 3, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Material_products]  WITH CHECK ADD  CONSTRAINT [FK_material_product1] FOREIGN KEY([material_id])
REFERENCES [dbo].[Materials] ([id])
GO
ALTER TABLE [dbo].[Material_products] CHECK CONSTRAINT [FK_material_product1]
GO
ALTER TABLE [dbo].[Material_products]  WITH CHECK ADD  CONSTRAINT [FK_material_product2] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Material_products] CHECK CONSTRAINT [FK_material_product2]
GO
ALTER TABLE [dbo].[Material_suppliers]  WITH CHECK ADD  CONSTRAINT [FK_material_supplier] FOREIGN KEY([material_id])
REFERENCES [dbo].[Materials] ([id])
GO
ALTER TABLE [dbo].[Material_suppliers] CHECK CONSTRAINT [FK_material_supplier]
GO
ALTER TABLE [dbo].[Material_suppliers]  WITH CHECK ADD  CONSTRAINT [FK_supplier_material] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([id])
GO
ALTER TABLE [dbo].[Material_suppliers] CHECK CONSTRAINT [FK_supplier_material]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_material_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Material_type] ([id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_material_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_product_type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Product_type] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_product_type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_role_user] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_role_user]
GO
USE [master]
GO
